# ❄️ Template for Local Snowflake Credentials
# Copy this file to '.env' and fill in your details (do not commit .env to Git)

SNOWFLAKE_USER=firstname.lastname@alteryx.com
SNOWFLAKE_ACCOUNT=your_account_locator
SNOWFLAKE_WAREHOUSE=EDM_WH
SNOWFLAKE_DATABASE=DISCOVERY_PRODUCT_MANAGEMENT
SNOWFLAKE_SCHEMA=METRIC_STORE
SNOWFLAKE_ROLE=YOUR_ROLE_NAME
SNOWFLAKE_AUTHENTICATOR=externalbrowser
